name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  check:
    name: "Check conditions"
    runs-on: ubuntu-latest
    outputs:
      is_main_push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    steps:
      - run: echo "is_main_push=${{ job.outputs.is_main_push }}"

  install:
    name: "Bun setup and install"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup and Install
        uses: ./.github/actions/setup-bun

  biome:
    name: "Check format and lint"
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup and Install
        uses: ./.github/actions/setup-bun
      - name: Run biome ci
        run: bun run ci

  build:
    name: "Build using vite"
    runs-on: ubuntu-latest
    needs: [biome, check]
    steps:
      - name: Set base path
        run: |
          if [[ "${{ needs.check.outputs.is_main_push }}" == "true" ]]; then
            echo "VITE_BASE_PATH=/${{ github.event.repository.name }}/" >> $GITHUB_ENV
          else
            echo "VITE_BASE_PATH=/" >> $GITHUB_ENV
          fi
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true
      - name: Setup and Install
        uses: ./.github/actions/setup-bun
      - name: Run Build
        run: bun run build
      - name: Upload artifact
        if: needs.check.outputs.is_main_push == 'true'
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./dist

  deploy:
    name: "Deploy to Github Pages"
    needs: [build, check]
    if: needs.check.outputs.is_main_push == 'true'
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
